{% load i18n %}
<input type="text" name="{{name}}_text" id="{{html_id}}_text" value="" {{ extra_attrs }} />
{% if add_link %}
	<a href="{{ add_link }}" class="add-another" id="add_{{ html_id }}" onclick="return showAddAnotherPopup(this);"> <img src="{{ STATIC_URL }}admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
{% endif %}
{% block help %}{# {% if help_text %}<p class="help">{{help_text}}</p>{% endif %} #}{% endblock %}
<div id="{{html_id}}_on_deck" class="results_on_deck"><div>{{current_result|safe}}</div></div>
<input type="hidden" name="{{name}}" id="{{html_id}}" value="{{current_id}}" />
<script type="text/javascript">
//<![CDATA[
{% if "__prefix__" in html_id %}
    dynamicAddAutocomplete("{{html_id}}", function(html_id) {
        $("#"+html_id).autocompleteselect({
            minLength: {{min_length}},
            source: '{{lookup_url}}'
        });
        $("#"+html_id+"_text").autocompletehtml();
    });
{% else %}
    $("#{{html_id}}").autocompleteselect({
        minLength: {{min_length}},
        source: '{{lookup_url}}'
    });
    $("#{{html_id}}_text").autocompletehtml();
{% endif %}
{% block extra_script %}{% endblock %}
//]]>
</script>
